appId: 1234  # GitHub App ID
webhookUrl: https://...  # Your domain
clientId: ABC..  # GitHub App Client ID
clientSecret: 1234abc  # GitHub App Client Secret
webhookSecret: "dummy-webhook-secret-not-used"  # Use this exact value (even if webhook is disabled)
privateKey: |
  -----BEGIN RSA PRIVATE KEY-----
  ...
  -----END RSA PRIVATE KEY-----
