spring:
  application:
    name: ${{ values.projectName }}

server:
  port: ${PORT:8080}

{% if values.useActuator %}
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
{% endif %}
